@using DataBase.Context
@using DataBase.CRUD.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model Application.Models.Chat.SendMessageViewModel
@{
    Layout = null;

    ChatDbContext db = new();
    UserService userService = new();
    var user = await userService.GetByIdAsync(int.Parse(TempData["UserId"].ToString()));
    TempData["UserId"] = user.Id;
    //
    var chat = await db.ChatDetails.FirstAsync(c => c.Id == 1);
    var messages = await db.Messages
        .Include(m => m.User)
        .Where(m => m.ChatDetail == chat)
        .ToListAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="~/css/chat.css">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="search-bar">
            <input type="text" placeholder="Search contacts">
        </div>
        <div class="contact-list">
            <div class="contact">Contact 1</div>
            <div class="contact">Contact 2</div>
            <div class="contact">Contact 3</div>
        </div>
    </div>
    <div class="chat">
        <div class="chat-header">@((chat.User1.Login == user.Login)?@chat.User2.Login:@chat.User1.Login)</div>
        <div class="chat-window">
            @foreach (var item in messages)
            {
                if (item.UserId == user.Id)
                {
                    <div class="message mine">
                        <div class="text">@item.MessageContent</div>
                        <div class="date">@item.MessageDate</div>
                    </div>
                }
                else
                {
                    <div class="message theirs">
                        <div class="text">@item.MessageContent</div>
                        <div class="date">@item.MessageDate</div>
                    </div>
                }
            }
        </div>
        <form asp-controller="Chat" asp-action="SendMessage" method="post" class="message-input">
            <input asp-for="Content" type="text" placeholder="Type a message">
            <button>Send</button>
        </form>
    </div>
</div>
</body>
</html>